:root {
  --mz-body-text-color: #{$dark};
  --mz-body-bg-color: #{$white};

  --mz-btn-primary-color: #{$white};
  --mz-btn-primary-bg: #{$yellow};
  --mz-btn-primary-bg-hover: #{$yellow-light};

  --mz-btn-secondary-color: #{$white};
  --mz-btn-secondary-bg: #{$dark};

  --mz-form-color: #{$dark};
  --mz-form-bg: #{$white};
  --mz-form-error-color: #{$red};
  --mz-form-error-border: #{$red};
  --mz-form-border-focus-color: #{$yellow};

  --mz-body-font-size: #{$fs-base};
  --mz-body-font-weight: #{$fw-normal};

  --mz-h1-font-size: #{$h-1};
  --mz-h2-font-size: #{$h-2};
  --mz-h3-font-size: #{$h-3};
  --mz-h4-font-size: #{$h-4};
  --mz-h5-font-size: #{$h-5};
  --mz-h6-font-size: #{$h-6};

  --mz-h1-font-weight: #{$fw-medium};
  --mz-h2-font-weight: #{$fw-medium};
  --mz-h3-font-weight: #{$fw-medium};
  --mz-h4-font-weight: #{$fw-normal};
  --mz-h5-font-weight: #{$fw-normal};
  --mz-h6-font-weight: #{$fw-light};
}
