/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/**
 *
 * FOUNDATIONS................................................
 * BASE.......................................................
 */

/*=============================================
 =                   Foundations               =
 =============================================*/

@import 'src/foundation/all';

/*==============================================
  =                   Base                      =
  =============================================*/

@import 'src/base/reset';
@import 'src/base/root';

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
}
